.footer {
    background-color: #37393f;
    color: white;
    padding: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 70px;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.footer-company-name {
    font-size: 20px;
    font-weight: bold;
}

.footer-right {
    display: flex;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.contact-item i {
    margin-right: 5px;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}

.footer-lists {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    flex-wrap: wrap;
}

.footer-list {
    margin-bottom: 20px;
}

.footer-list h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #33b1e9;
}

.footer-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: square;
}

.footer-list ul li {
    margin-bottom: 10px;
}

.subscribe {
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.subscribe p {
    margin-bottom: 10px;
    color: white;
}

.subscribe input {
    width: 60%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
}

.subscribe button {
    padding: 15px 20px;
    background-color: #6b77e5;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.footer-bottom p {
    margin: 0;
    color: white;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: white;
    margin-left: 10px;
    font-size: 18px;
}

hr {
    border: none;
    border-top: 1px solid #d0bfbf;
    margin: 0;
}

@media (max-width: 992px) {
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        padding-bottom: 10px;
    }

    .footer-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-middle {
        flex-direction: column;
    }

    .footer-lists {
        width: 100%;
    }

    .subscribe {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .social-icons {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .contact-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .subscribe input {
        width: 80%;
    }

    .subscribe button {
        width: 80%;
    }
}
