.our-records-section {
  position: relative;
  background-color: #f2f2f2;
  padding: 50px 150px;
  text-align: center;
}

.our-records-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between flex items for better spacing */
}

.our-records-box {
  flex: 1;
  min-width: 250px; /* Ensure boxes don't get too small */
  max-width: 25%;
  text-align: center;
  margin: 20px 10px; /* Add margin for better spacing */
  background-color: white; /* Add background color to each box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.our-records-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

.vertical-line {
  border-left: 2px solid #04d9ff;
  height: 120px;
  margin: 0 10px;
}

@media (max-width: 992px) {
  .our-records-section {
      padding: 50px 50px;
  }
  .our-records-box {
      max-width: 45%;
  }
}

@media (max-width: 768px) {
  .our-records-section {
      padding: 50px 20px;
  }
  .our-records-box {
      max-width: 100%;
  }
  .vertical-line {
      display: none;
  }
}
