.work-process-section {
  padding: 50px 20px;
  text-align: center;
  font-family: 'inter, sans-serif';
}

.work-process-title-container {
  margin-bottom: 30px;
}

.work-process-title {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: #04d9ff;
  margin-bottom: 10px;
}

.work-process-subtitle {
  font-size: 50px;
  font-weight: bolder;
}

.work-process-box-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; /* Adjust padding */
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap; /* Allow boxes to wrap */
}

.work-process-box {
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  width: calc(33.33% - 20px); /* Adjust width and spacing */
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .work-process-box {
    width: calc(50% - 20px); /* Adjust width for smaller screens */
  }
}

@media (max-width: 576px) {
  .work-process-box {
    width: calc(100% - 20px); /* Adjust width for extra small screens */
  }
}

.work-process-icon-container {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4; /* Use consistent background color */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.work-process-icon {
  height: 40px;
  width: 40px;
}

h3 {
  margin-top: 60px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666666;
}
